body {
  background: #ECECEC;
  font-family: 'Open Sans', sans-serif;
}

.authorization {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  justify-content: center;
  height: 80vh;
}

@media screen and (max-width: 960px) {
  .authorization {
    height: 100%;
  }

  .smallWidthRemoveElement {
    display: none
  }
}

.topMargin {
  margin-top: 3rem !important;
}

.bottomMargin {
  margin-bottom: 3rem !important;
}

.noMargin {
  margin: 0
}

.noMarginBot {
  margin-bottom: 0;
}
